:root {
    --main-bg-color: #659AA6;
    --text-color: #fff;
    --bg-dark-color: #333;
    --primary-color: #444;
    --accent-color: aqua;
    --border-color: #ccc;
    --footer-bg-color: #333;
    --footer-text-color: #fff;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--main-bg-color);
    overflow-y: auto;
}

/* Leer más */
.leerMas {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.2rem;
    color: #ccc;
}

.leerMas:hover {
    background-color: #0d0d0d;
    color: brown;
}

/* Estilos para el nav */
.button {
    text-decoration: none;
    color: var(--text-color);
    background-color: var(--primary-color);
    padding: 10px 20px;
    margin: 5px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: var(--accent-color);
}

/* Estilos para el header */
.header-global {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--bg-dark-color);
    color: var(--text-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--text-color);
    width: 100%;
    z-index: 1000;
    flex-direction: column;
}

.titulo {
    margin: 1rem;
    margin-bottom: 20px;
}

.navegacion {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.navegacion ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navegacion li {
    margin-left: 20px;
}

.navegacion a {
    font-size: 2rem;
    color: var(--text-color);
    text-decoration: none;
}

.navegacion a:hover {
    background-color: var(--accent-color);
}

/* Noticias */
main {
    margin: 10rem 0;
    padding: 0;
    background-color: antiquewhite;
}

.article-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: rgb(22, 22, 22);
    color: white;
}

.article-grid article {
    border: 1px solid var(--border-color);
    padding: 20px;
}

.article-grid img {
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Estilos para el contenido */
.content {
    margin: 100px 20px;
    padding: 20px;
}

/* Estilos para el footer */
.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding: 20px;
    text-align: center;
    z-index: 1000;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.footer h4,
.footer h5 {
    margin: 0;
}

.footer-redes ul {
    padding: 0;
    font-size: 2rem;
    margin: 0;
}

.footer-redes ul li {
    display: inline-block;
    margin-right: 10px;
}

.footer-redes a {
    color: var(--footer-text-color);
    text-decoration: none;
    font-size: 24px;
}

.footer-redes a:hover {
    color: #ccc;
}

@media screen and (max-width: 767px) {
    .article-grid {
        grid-template-columns: 1fr;
    }

    main {
        margin: 8rem 0;
        padding: 0;
        background-color: antiquewhite;
    }

    .header-global {
        padding: 10px;
    }

    .titulo {
        margin-bottom: 5px;
    }

    .navegacion {
        flex-direction: column;
    }

    .navegacion li {
        margin: 10px 0;
    }

    .navegacion a {
        font-size: 0.9rem;
        padding: 2px 5px;
        margin-bottom: 5px; /* Agregar margen inferior */
    }

    .footer {
        padding: 10px 0;
    }

    .footer-row {
        flex-direction: column;
    }

    .footer-redes {
        width: 100%;
        padding: 0;
    }

    .footer-redes h4 {
        margin-bottom: 10px;
        font-size: 1.5rem;
    }

    .footer-redes ul li a {
        margin-bottom: 5px;
        font-size: 1rem;
    }

    .container {
        max-width: 1000px;
    }
}
